<h3>
    Escolha o arquivo para fazer upload
</h3>
<form method="POST">
<div class="row">
    <div class="col">
        <label>
            Arquivo:
            <input type="file" name="arquivo" class="form-control" />
        </label>
    </div>
    <div class="col">
        ou
    </div>
    <div class="col">
        <label> Link: <input type="text" name="arquivoUrl" class="form-control" value="https://docs.google.com/spreadsheets/d/e/2PACX-1vRjgYdUTCNSp8ib4OiOTNdLeZKLl2IYalh5_Qojne2MFIH0_Onlkd6kp2uIGfTRpYxMsAaVYdG8j5Lb/pub?output=csv" /></label>
    </div>
    
    <input type="hidden" name="enviar" value="true">
</div>
<div class="row">
    <div class="col">
        <label> Tabela/Objeto: 
            <input type="text" name="tabela" class="form-control"/>
        </label>
    </div>
</div>
<div class="row">
    <button class="btn btn-primary" type="submit">Analizar CSV </button>
</div>
</form>