<h3>
    Instruções: Selecione as colunas do CSV que corespondam aos dados da tabela <?= $tabela ?>.
</h3>
<form method="POST">
<table>
    <thead>
        <tr>
            <?php foreach ($colunasCSV as $key => $coluna){ ?>
            <th>
                <label><?= $coluna ?> <br />
                    <?=$colunasTratadas[$key]?> <br />

                    <select name="coluna[<?= $key ?>]">
                    <?php foreach ( $colunasObj as $col2){ ?>
                    <option value="<?= $col2 ?>"  <?php if (strcasecmp( $colunasTratadas[$key], $col2) == 0){ echo  ' selected'; }?>><?= $col2 ?></option>
                    <?php } ?>
                    </select>        
                </label>
            </th>
            <?php } ?>
        </tr>
    </thead>
    <?php foreach ( $linhas as $keyL =>  $linha) { ?>
    <tr>
        <?php foreach ( $linha as $keyC => $coluna) { ?>
        <td><input type="text" value="<?= $coluna?>" name="data[<?= $keyL?>][<?= $keyC?>]"/></td>
        <?php } ?>
    </tr>
    <?php } ?>
</table>

<input type="hidden" name="file" value="<?= $file ?>" />
<input type="hidden" name="tabela" value="<?= $tabela ?>" />

<input type="hidden" name="processar" value="true" />


<div class="row">
    <button class="btn btn-primary" type="submit">IMPORTAR CSV </button>
</div>

</form>