<!DOCTYPE html>
<html>
    <head>
        <title>View Updater - VERSÃO <?= $VERSAO;?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css"/>
    </head>
    <body>
        <h2>View Updater</h2>
        <form class="form-horizontal" role="form" method="post" action="">
            <input type="hidden" name="enviar" value="true" />
            <fieldset>
                <legend>Banco origem</legend>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="serverLocal">Servidor:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="serverLocal" name="serverLocal" placeholder="Nome servidor" value="<?= $LOCAL['server']; ?>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="bdLocal">Banco de dados:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="bdLocal" name="bdLocal" placeholder="Nome do Banco de dados" value="<?= $LOCAL['bd']; ?>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="usuarioLocal">Usuário:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="usuarioLocal" name="usuarioLocal" placeholder="Usuario" value="<?= $LOCAL['usuario']; ?>">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="control-label col-sm-2" for="bd">Senha:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="senhaLocal" name="senhaLocal" placeholder="Nome do Banco de dados" value="<?= $LOCAL['senha']; ?>">
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <legend>Banco destino</legend>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="serverRemoto">Servidor:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="serverRemoto" name="serverRemoto" placeholder="Nome servidor" value="<?= $REMOTO['server']; ?>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="bdRemoto">Banco de dados:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="bdRemoto" name="bdRemoto" placeholder="Nome do Banco de dados" value="<?= $REMOTO['bd']; ?>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="usuarioRemoto">Usuário:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="usuarioRemoto" name="usuarioRemoto" placeholder="Usuario" value="<?= $REMOTO['usuario']; ?>">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="control-label col-sm-2" for="senhaRemoto">Senha:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="senhaRemoto" name="senhaRemoto" placeholder="Senha" value="<?= $REMOTO['senha']; ?>">
                    </div>
                </div>

            </fieldset>

            <div class="form-group">

                <div class="col-sm-offset-2 col-sm-1">
                    <button type="reset" class="btn btn-default btn-danger">Reset</button>
                </div>

                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default btn-success">Gerar</button>
                </div>
            </div>
        </form>
        <div id="resultado" class="col-sm-offset-2 col-sm-8">
            <pre><?= $RESULTADO;?></pre>
        </div>
    </body>
</html>
