        <form class="form-horizontal" role="form" method="post" action="">
            <input type="hidden" name="enviar" value="true" />
            <fieldset>
                <legend>Confs</legend>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nomeTabela">Nome tabela:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nomeTabela" name="nomeTabela" placeholder="nome da tabela" value="redacao">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nomeColuna">Atributo:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nomeColuna" name="nomeColuna" placeholder="nome da coluna " value="nome_atributo">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="objeto">Tipo:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="colunaTipo" name="colunaTipo" placeholder="Tipo do dado no banco" value="double precision">
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <legend>Adicionar em: </legend>
                <label class="control-label col-12"> 
                    <input type="checkbox" name="tabelaBanco" checked > Tabela banco
                </label>
                <label class="control-label col-12">
                    <input type="checkbox" name="tabelaDocumentacao" checked > Tabela documentação
                </label>
                <label class="control-label col-12">
                    <input type="checkbox" name="tabelaDDL" checked > Tabela DDL
                </label>
                <label class="control-label col-12">
                    <input type="checkbox" name="dto" checked > DTO
                </label>
                <label class="control-label col-12">
                    <input type="checkbox" name="dao" checked > DAO
                </label>
                <label class="control-label col-12">
                    <input type="checkbox" name="form" checked > Formulario
                </label>
                <label class="control-label col-12">
                    <input type="checkbox" name="tabelaCrud" checked > Tabela CRUD
                </label>
            </fieldset>

            <div class="form-group">

                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default btn-success">Alterar arquivos</button>
                </div>
            </div>
        </form>
