<p><?= $DESCRICAO; ?></p>
<form class="form-horizontal" role="form" method="post" action="">
    <input type="hidden" name="enviar" value="true" />

    <fieldset>
        <legend>Banco origem</legend>
        <div class="form-group">
            <label class="control-label col-sm-2" for="serverRemoto">Servidor:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="serverRemoto" name="serverRemoto" placeholder="Nome servidor" value="<?= $REMOTO['server']; ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="bdRemoto">Banco de dados:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="bdRemoto" name="bdRemoto" placeholder="Nome do Banco de dados" value="<?= $REMOTO['bd']; ?>">
            </div>
        </div>
        <div class="form-group row">

            <div class="col-sm-6">
                <label class="control-label" for="usuarioRemoto">Usuário:</label>
                <input type="text" class="form-control" id="usuarioRemoto" name="usuarioRemoto" placeholder="Usuario" value="<?= $REMOTO['usuario']; ?>">
            </div>
            <div class="col-sm-6">
                <label class="control-label " for="senhaRemoto">Senha:</label>

                <input type="text" class="form-control" id="senhaRemoto" name="senhaRemoto" placeholder="Senha" value="<?= $REMOTO['senha']; ?>">
            </div>
        </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Dados de FTP/SSH</legend>

        <div class="form-group row">
            <div class="col-sm-6">
                <label class="control-label" for="usuarioftp">Usuário:</label>
                <input type="text" class="form-control" id="usuarioftp" name="usuarioftp" placeholder="Usuario" value="<?= $REMOTO['usuario']; ?>">
            </div>

            <div class="col-sm-6">
                <label class="control-label " for="senhaftp">Senha:</label>
                <input type="text" class="form-control" id="senhaftp" name="senhaftp" placeholder="Senha" value="<?= $REMOTO['senha']; ?>">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Banco destino</legend>
        <div class="form-group">
            <label class="control-label col-sm-2" for="serverLocal">Servidor:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="serverLocal" name="serverLocal" placeholder="Nome servidor" value="<?= $LOCAL['server']; ?>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="serverLocal">Porta Local:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="portaLocal" name="portaLocal" placeholder="Porta servidor" value="<?= $LOCAL['porta']; ?>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="bdLocal">Banco de dados:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="bdLocal" name="bdLocal" placeholder="Nome do Banco de dados" value="<?= $LOCAL['bd']; ?>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="usuarioLocal">Usuário:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="usuarioLocal" name="usuarioLocal" placeholder="Usuario" value="<?= $LOCAL['usuario']; ?>">
            </div>
        </div> 
        <div class="form-group">
            <label class="control-label col-sm-2" for="bd">Senha:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="senhaLocal" name="senhaLocal" placeholder="Nome do Banco de dados" value="<?= $LOCAL['senha']; ?>">
            </div>
        </div>
    </fieldset>

    <fieldset>   
        <legend>Opções:</legend>
        <div class="row">
            
            <div class="col-2 text-right">
                <input type="checkbox" class="form-control" id="manterBancoAntigo" name="manterBancoAntigo" value="true" <?php if($LOCAL['manterBancoAntigo']) {?> checked <?php } ?>">
            </div>
            <label class="col-10" for="manterBancoAntigo"> Manter o banco local (renomear/recriar schema)</label>
        </div>
        <div class="row">
            
            <div class="col-2 text-right">
                <input type="number" class="form-control" id="ignorarLinhas" name="ignorarLinhas" value="<?= $LOCAL['ignorarLinhas'] ?>">
            </div>
            <label class="col-10" for="ignorarLinhas"> ignorarLinhas (20 para remover o create public)</label>
        </div>
    </fieldset>

    <div class="form-group">

        <div class="col">
            <button type="reset" class="btn btn-default btn-danger">Reset</button>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-default btn-success">Gerar</button>
        </div>
    </div>
</form>

<pre>
    <?= $RESULTADO; ?>
</pre>