<p><?= $DESCRICAO; ?></p>
<form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
    <input type="hidden" name="enviar" value="true" />

    <fieldset>
        <legend>Banco destino</legend>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="serverLocal">Servidor:</label>
                    <div class="col">
                        <input type="text" class="form-control" id="serverLocal" name="serverLocal" placeholder="Nome servidor" value="<?= $LOCAL['server']; ?>">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label" for="serverLocal">Porta Local:</label>
                    <div class="col">
                        <input type="text" class="form-control" id="portaLocal" name="portaLocal" placeholder="Porta servidor" value="<?= $LOCAL['porta']; ?>">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="bdLocal">Banco de dados:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="bdLocal" name="bdLocal" placeholder="Nome do Banco de dados" value="<?= $LOCAL['bd']; ?>">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label" for="usuarioLocal">Usuário:</label>
                    <div class="col">
                        <input type="text" class="form-control" id="usuarioLocal" name="usuarioLocal" placeholder="Usuario" value="<?= $LOCAL['usuario']; ?>">
                    </div>
                </div> 
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label" for="bd">Senha:</label>
                    <div >
                        <input type="text" class="form-control" id="senhaLocal" name="senhaLocal" placeholder="Nome do Banco de dados" value="<?= $LOCAL['senha']; ?>">
                    </div>
                </div>
            </div>
        </div>


    </fieldset>

    <fieldset>   
        <legend>Arquivo:</legend>
   
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label" for="arquivolocal">Arquivo local:</label>
                    <div class="col">
                        <input type="radio" class="form-control" id="arquivoLocal" name="arquivoLocal" checked value="true" />
                    </div>
                </div> 
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label" for="arquivoUpload">Upload/remoto:</label>
                    <div >
                        <input type="radio" class="form-control" id="arquivoUpload" name="arquivoUpload"  />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="formCaminhoArquivo">
            <label class="control-label col-sm-2" for="arquivoLocalInput">Caminho do arquivo:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="arquivoLocalInput" name="arquivoLocalInput" placeholder="Nome do arquivo em z_data" value="">
            </div>
        </div>
        <div class="form-group" style="display:none" id="formArquivoUpload">
            <label class="control-label col-sm-2" for="arquivoUpload">Arquivo para upload:</label>
            <div class="col-sm-8">
                <input type="file" class="form-control" id="arquivoUpload" name="arquivoUpload" placeholder="Nome do arquivo em z_data" >
            </div>
        </div>

    </fieldset>

    <fieldset>   
        <legend>Opções:</legend>
        <div class="row">
            
            <div class="col-2 text-right">
                <input type="checkbox" class="form-control" id="manterBancoAntigo" name="manterBancoAntigo" value="true" <?php if($LOCAL['manterBancoAntigo']) {?> checked <?php } ?>">
            </div>
            <label class="col-10" for="manterBancoAntigo"> Manter o banco local (renomear/recriar schema)</label>
        </div>
    </fieldset>

    <div class="row">

        <div class="col">
            <button type="reset" class="btn btn-default btn-danger">Reset</button>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-default btn-success">Gerar</button>
        </div>
    </div>
</form>

<pre>
    <?= $RESULTADO; ?>
</pre>