<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css"/>

        <title><?= $TOOL; ?> - VERSÃO <?= $VERSAO; ?></title>
    </head>
    <body>
        <header class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 90%; margin: 0 auto">
                <a class="navbar-brand" href="/aboutEny">
                    <object id="svg1" data="/logoEny" type="image/svg+xml" style="width: 50px; height: 50px; " class="d-inline-block align-middle" ></object>
                </a>

                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado " >
                    <ul class="nav justify-content-center nav-pills">

                        <li class="nav-item"><a class="nav-link" href="/tool/GeradorDeCrud">Gerador de CRUD </a></li>                        
                        <li class="nav-item"><a class="nav-link" href="/tool/AddColuna">Add Coluna </a></li>
                        <li class="nav-item"><a class="nav-link" href="/tool/GeradorDeRelatorio">Gerador de Relatório </a></li>
                        <li class="nav-item"><a class="nav-link" href="/tool/InstallBD" title="(exec install.php)">Instalar banco de dados </a></li>
                        <li class="nav-item"><a class="nav-link" href="/tool/CloneBD">CloneBD</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tool/DBRestore">DBRestore</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tool/ImportadorDeCSV">Importar CSV</a></li>

                        <li class="nav-item"><a class="nav-link" href="/tool/ViewLog">Ver ENY Logs</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section style="width: 90%; margin: 0 auto">
        <h1><?= $TOOL; ?> - VERSÃO <?= $VERSAO; ?></h1>  
        