<div id="resultado" class="col-sm-offset-2 col-sm-10">
    <?= $RESULTADO; ?>
</div>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <?= $LIBS_EXTRA_JS; ?>
    <script><?= $SCRIPT ?></script>
</body>
</html>